voyageai>=0.3.7
pymongo==4.7.2
python-dotenv==1.0.1
google-api-python-client>=2.0.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
mcp>=1.0.0
fastapi
uvicorn
pydantic
google-adk
requests
google-cloud-secret-manager
google-cloud-discoveryengine
google-cloud-resource-manager
google-cloud-service-usage
google-cloud-dialogflow-cx
google-cloud-pubsub
scikit-learn
numpy
